# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# save games and new databases
*.db
*.db-journal

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex


# Byte-compiled Lua files
*.luac

# Logs
*.log

# Temporary files
*.tmp
*.temp

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files (for example, Visual Studio Code)
.vscode/

# Backup files
*.bak
*.swp
*.swo

# LuaRocks
!.luarocks/
